* {
        margin: 0;
        padding: 0;
        border: 0;
        outline: 0;
        font-size: 100%;
        vertical-align: baseline;
        background: #F4F4F4;
        background-color: #F4F4F4;
        font-family: 'Roboto Slab';
    }

h1 {
   font-size: 30px;
   background-color: #C0B283;
   color: #373737;
   text-align: center;
   padding-top: 10px;
   padding-bottom: 10px;
   margin-bottom: 10px;
}

#nav{
    width: 570px;
    margin: auto;
    display: block;
    height: 25px;
}
